* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    margin: 20px;
}

input[type=text] {
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 25px;
    border: 1px solid #171717;
    outline: none;
}

input[type=text]:hover {
    box-shadow: 0px 2px 7px #000;
}

label {
    margin-left: 20px;
}

label, span {
    font-size: 1.2em;
    margin-right: 5px;
    text-shadow: 0px 1px 2px #000;
    box-shadow: 0px 0px 5px #171717;
    padding: 10px;
}

#gameConffirmed {
    display: none;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 1.5em;
    padding: 10px;
    width: 460px;
    box-shadow: 0px 0px 10px #0000FF;
    background-color: #000;
    color: #FFF;
}

.buttonRerun {
    margin: 20px;
    font-size: 1.1em;
    padding: 10px 15px;
    text-align: center;
    width: 130px;
    border-radius: 50px;
    border: 1px solid #3679e6;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}

.buttonRerun:hover {
    transition: all 0.2s linear;
    background: linear-gradient(to right, #8ab4f8, transparent, #8ab4f8);
    text-shadow: 0px 1px #0f68f8;
    box-shadow: 0px 2px 3px #3679e6;
}