* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
}

aside {
    display: flex;
}

#menu-opener {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
}

.menu-icon {
    height: 5px;
    background: #a1a1a1;
    border-radius: 2.5px;
}

#menu-area {
    display: flex;
    width: 0px;
    height: 100vh;
    background-color: #a1a1a1;
    transition: all 0.5s ease;

    /* Para os elementos não ficarem para fora e gerar scroll na página */
    overflow-x: hidden;
    overflow-y: auto;
}

#menu-area nav {
    width: 100%;
}

#menu-area nav ul {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0;   
}

#menu-area nav ul li {
    list-style: none;
    padding: 10px;
}

#menu-area nav ul a { 
    text-decoration: none;
    color: #000;    
}

#menu-area nav ul a li:hover {
    background-color: #d9d9d9;
}

